<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout.html">

<head>
    <link rel="stylesheet" th:href="@{/css/product/product.css}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css}">
    <script th:src="@{https://cdn.jsdelivr.net/npm/sweetalert2@11}"></script>
    <script defer th:src="@{/js/product/detail.js}"></script>
</head>

<div layout:fragment="content">
    <div class="product-detail-page" id="product-detail-page">

    </div>
    <div id="product-review">

    </div>

</div>
</html>