<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout.html">

<head>
  <link rel="stylesheet" th:href="@{/css/watch/history.css}">

  <script th:src="@{/js/watch/history.js}"></script>
</head>

<div layout:fragment="content">
  <div class="history-container">
    <div class="history-items">
      <table>
        <thead>
          <tr>
            <th>상품 이미지</th>
            <th>영상 제목</th>
            <th>상품명</th>
            <th>상품 가격</th>
            <th>최근 시청일</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <!-- 장바구니 데이터가 JS에서 동적으로 삽입됨 -->
        </tbody>
      </table>
    </div>
  </div>
</div>
</html>