spring:
  application:
    name: show-ping-live

  web:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
    resources:
      cache:
        cachecontrol:
          no-store: true

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

  # DB 설정
  datasource: # RDS_HOSTNAME은 나중에 RDS 생성하면 값을 엔드포인트로 설정 지금은 localhost임
    url: jdbc:mysql://${RDS_HOSTNAME}:${RDS_PORT}/${RDS_DB_NAME}?serverTimezone=Asia/Seoul&characterEncoding=UTF-8&useSSL=false&allowPublicKeyRetrieval=true
    username: ${RDS_USERNAME}
    password: ${RDS_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      pool-name: WinnerHikariPool
      minimum-idle: 5
      maximum-pool-size: 10
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000

  h2:
    console:
      enabled: false

  main:
    allow-bean-definition-overriding: true

  # Kafka 설정
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      group-id: chat-consumer-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
        spring.json.use.type.headers: false
        spring.json.add.type.headers: false
        spring.json.value.default.type: com.ssginc.showpingrefactoring.domain.chat.dto.object.ChatDto

  # NoSQL 및 Cache 설정
  data:
    mongodb:
      uri: mongodb://${MONGO_HOST}:${MONGO_PORT}/${MONGO_DB_NAME}?authSource=admin
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      timeout: 60000
      password: ${REDIS_PASSWORD}

  # JPA 설정
  jpa:
    hibernate:
      ddl-auto: ${JPA_DDL_AUTO:update}
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyJpaCompliantImpl
      properties:
        hibernate:
          use_sql_comments: true
          format_sql: true
          generate_statistics: true
          dialect: org.hibernate.dialect.MySQLDialect
    defer-datasource-initialization: true
    show-sql: true

  sql:
    init:
      mode: ${SQL_INIT_MODE:always}

  # 메일 설정
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    default-encoding: UTF-8
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          ssl:
            trust: smtp.gmail.com

# Embedded MongoDB (테스트용)
de:
  flapdoodle:
    mongodb:
      embedded:
        version: 5.0.5

# 모니터링 및 서버 설정
management:
  endpoint:
    health:
      show-details: always
  endpoints:
    jmx:
      exposure:
        include: '*'

kurento:
  url: ${KMS_URL:ws://127.0.0.1:8888/kurento}

server:
  port: ${SERVER_PORT}

# 파일 경로 설정 (EC2 환경에 맞춰 환경변수화 추천)
upload:
  path: ${UPLOAD_PATH}
download:
  path: ${DOWNLOAD_PATH}

# 로그 설정
logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql: TRACE
  file:
    name: logs/app.log
    path: logs
  pattern:
    console: '%logger{36} - %msg%n'
    file: '%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n'

# 보안 및 인증
jwt:
  secret: ${JWT_SECRET}
  access:
    expiration: 3600000
  refresh:
    expiration: 86400000

# NCP 설정
ncp:
  storage:
    region: kr-standard
    endpoint: https://kr.object.ncloudstorage.com/
    bucket-name: show-ping
    access-key: ${NCP_ACCESS_KEY}
    secret-key: ${NCP_SECRET_KEY}
  clova-speech:
    api-url: ${NCP_CLOVA_API_URL}
    path: video
    api-key: ${NCP_CLOVA_API_KEY}

# PortOne 결제 설정
portone:
  secret-key: ${PORTONE_SECRET_KEY}
  channel-key: ${PORTONE_CHANNEL_KEY}
  api-url: https://api.portone.io
  store-id: ${PORTONE_STORE_ID}
  api-key: ${PORTONE_API_KEY}

# WebAuthn 및 MFA 설정
webauthn:
  rp:
    id: ${WEBAUTHN_RP_ID} # 나중에 EC2 퍼블릭 ip 또는 도메인으로 인증서버 식별자 추가(EC2 생성하면)
    name: ShowPing Admin MFA
  origin: ${WEBAUTHN_ORIGIN} # http://EC2퍼블릭IP:8080

mfa:
  allowSelfInvite: true
  issuer: ShowPing
  periodSeconds: 30
  allowedStepSkew: 1
  inviteTtlSeconds: 600
  webauthnChallengeTtlSeconds: 120
  mfaMaxAgeSeconds: 900
  rateLimitPerMinute: 5

crypto:
  aesGcmKeyBase64: ${AES_GCM_KEY_B64}

# Redis 추가 설정
redis:
  prefix: "sp:mfa:"
  ttl:
    rtMetaSeconds: 604800
    halfAuthSeconds: 900