<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/csrf-setup.js"></script>
    <script src="/js/login/jwt.js"></script>
    <script src="/js/login/login.js"></script>
    <link rel="stylesheet" th:href="@{/css/login/login.css}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="login-container">
        <a href="/" style="text-decoration: none; color: inherit;">
            <h1 style="cursor: pointer;">ShowPing</h1>
        </a>
        <h2>로그인</h2>
        <form id="loginForm" autocomplete="off">
            <input type="text" name="memberId" id="memberId" class="login-input" placeholder="아이디를 입력해주세요" required autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
            <input type="password" name="memberPassword" id="memberPassword" class="login-input" placeholder="비밀번호를 입력해주세요" required autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">

            <!-- 🔹 로그인 버튼 -->
            <button type="submit" class="login-btn">로그인</button>
        </form>

        <!-- 🔹 회원가입 버튼 -->
        <button class="signup-btn" onclick="window.location.href='/login/signup'">회원가입</button>
    </div>
</div>
</body>
</html>