.history-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #fff;
    padding: 40px;
    margin: 20px auto;
    width: 95%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    min-height: 500px;
}

.history-items {
    width: 90%;
}

table {
    width: 90%;
    border-collapse: collapse;
}

thead {
    background: #e3efff;
}

td {
    text-align: center;
}

.product-img {
    width: 100px;
    height: 100px;
}

.watch-button {
    width: 70px;
    height: 30px;
    background: #38A7FF;
    border-radius: 6px;
    border: none;
    color: white;
}

.stream-title {
    width: 300px;
}

.product-name {
    width: 400px;
}

.product-price {
    width: 100px;
}

.watch-time {
    width: 150px;
}